*~
*.pyc
*.pyo
ChangeLog.html
MANIFEST
MANIFEST.in
RezzMe/config/config.py
RezzMe/ui/about.py
RezzMe/ui/clientselector.py
RezzMe/ui/edit.py
RezzMe/ui/rezzme.py
RezzMe/resources.py
about.html
about-lotus3di.html
about-lotus3di.raw.html
rezzme-sealed.cfg
rezzme.desktop
rezzme.qrc
rezzme.iss
dist
dist-win32
build
rezzme-site.cfg
